@charset "utf-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasNeue';
    src: url('fontes/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ebe5c5 ;
    line-height: 2em;
    font-size: 1em;
}

a.externo{
    background-color: #83e1ad;
    text-decoration: none;
    padding: 4px;
    
    
}
    a.externo::after {
        content: '\00A0\1F517';
    }


header {
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    padding-top: 40px;
    text-align: center;
}
*{margin: 0px;
padding: 0px;}

header > p {
    font-size: 1.1em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.271);
    text-align: center;
}

header > h1 {
    font-family: 'BebasNeue', 'cursive';
    font-size: 3em;
    color: white;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.271);
    font-weight: 300;
}
nav{background-color: #063d1e;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}
nav > a {
    color: #83e1ad;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover{
    box-shadow: inset ;
    background-color: #2fa866;
    color: #063d1e;
}
main{
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
strong{color: #063d1e;}
h2{
    font-family: idroid, cursive;
    color: #063d1e;
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 20px;
}
h3{font-family: idroid, cursive;
    text-indent: 10px;
    margin: 10px 0px;
    padding: 0px;
    color: #063d1ed6;
    font-size: 1.3em;
    font-weight: 200;
    line-height: 1.3em;
    background-image:linear-gradient(to right,#83e1ad, white ) 
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.video{background-color:#063d1e ;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;}

.image-container{
    text-align: center;
}
p{text-indent: 30px;
    text-align: justify;
    padding: 5px 0px;
}
div > img {
    width: 100%;

}
.droid-pq{
    display: none;}
    .irina-pq{
        display: none;
    }
   
    @media screen and (max-width:670px){
        .droid-pq{
            display: block;
        }
        .droid-gg{
            display:none
        }
        .irina-pq{
            display: block;
        }
        .irina-gg{
            display: none;
        }
    }
    .bugdroid{
        width: auto;
    }
    h4{
        background-color: #063d1ed6;
        border-radius: 8px 8px 0px 0px;
        font-size: 1.2em;
        color: white;
        padding: 10px;

    }
    article{
        background-color: #83e1ad;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.374);
    }
    article > ul {    list-style-type: '\2714\00A0\00A0';
        list-style-position: inside;
        columns: 2;
    line-height: 1.2em;
    text-indent: 30px;
}
    article > p{
        line-height: 2.5em;
        padding: 10px;
    }
    
    footer{
        background-color: #063d1e;
        color: white;
        font-size: 0.8em;
    }
    footer > p {text-align: center;
    }
    .rodape{
        color: white;
    }

